asgiref==3.2.7
dj-database-url==0.5.0
Django==3.0.7
django-classy-tags==1.0.0
django-cms==3.7.2
django-filer==1.7.1
django-formtools==2.2
django-heroku==0.3.1
django-js-asset==1.2.2
django-mptt==0.11.0
django-polymorphic==2.1.2
django-sekizai==1.1.0
django-treebeard==4.3.1
djangocms-admin-style==1.5.0
djangocms-attributes-field==1.2.0
djangocms-bootstrap4==1.6.0
djangocms-file==2.4.0
djangocms-googlemap==1.4.0
djangocms-icon==1.5.0
djangocms-installer==1.2.3
djangocms-link==2.6.1
djangocms-picture==2.4.0
djangocms-snippet==2.3.0
djangocms-style==2.3.0
djangocms-text-ckeditor==3.9.1
djangocms-video==2.3.0
easy-thumbnails==2.7
gunicorn==20.0.4
html5lib==1.0.1
Pillow==7.1.2
psycopg2==2.8.5
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
tzlocal==2.1
Unidecode==1.1.1
webencodings==0.5.1
whitenoise==5.1.0
